.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-title {
  padding-top: 25px;
  font-size: 40px;
  font-weight: bold;
}

.app-headline {
  font-size: 20px;
  font-style: italic;
  padding-bottom: 30px;
}

.active-timer {
  font-size: 40px;
  font-weight: bold;
}

.Button {
  width: 250px;
  height: 60px;
  border-radius: 5px;
  font-size: 25px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.turn-shower-on {
  background-color: green;
}

.turn-shower-off {
  background-color: red;
}

.Data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 5px;
  width: 70%;
  padding: 15px;
}

.data-point {
  display: flex;
  flex-direction: column;
}

.data-row {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
}
.data-point-spacer {
  width: 10px;
}

.data-point-small {
  font-size: 24px;
}

.data-point-large {
  font-size: 30px;
}

.data-point-label-small {
  font-size: 16px;
}

.data-point-label-large {
  font-size: 18px;
}

.data-point-label-x-large{
  font-size: 22px;
}

.data-point-x-large{
  font-size: 35px;
  font-weight: bold;
}